* {
  padding: 0px;
  margin: 0px;
  font-family: AriaL;
}

body {
  background-color: #045de9;
  background-image: linear-gradient(#1c92d2 0%, #f2fcfe 100%);
  min-height: 100vh;
  height: 1000px;
  font-family: Arial;
  font-weight: bold;
}

/*TITULO*/
.content-head {
  font-style: normal;
  font-weight: 300;
  font-size: 75px;
  line-height: 185px;
  text-align: center;
  color: #ffffff;
}

/*MENU*/
.menu_wrap {
  position: absolute;
  width: 260px;
  height: 758px;
  left: 0px;
  top: 266px;
}

.user {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 0px;
  top: 51px;
}

.show-user {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 15px;
  top: 70px;
}

.user-avatar {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 15px;
  top: 0px;
  align-content: center;
}

.login-register {
  position: absolute;
  width: 250px;
  height: 215px;
  left: 15px;
  top: 70px;
}

nav {
  position: absolute;
  width: 250px;
  height: 395px;
  left: 15px;
  top: 250px;
}

.food {
  position: absolute;
  width: 250px;
  height: 395px;
  left: 0px;
  top: 40px;
}
.freezer {
  position: absolute;
  width: 250px;
  height: 395px;
  left: 0px;
  top: 170px;
}

.alert {
  position: absolute;
  width: 250px;
  height: 395px;
  left: 0px;
  top: 300px;
}

/*CONTENIDO*/

.content-wrap {
  position: absolute;
  width: 834px;
  height: 431px;
  left: 378px;
  top: 273px;
}

#start {
  position: absolute;
  width: 834px;
  height: 431px;
  left: 200px;
  top: 30px;
}

#profile .info-box {
  position: absolute;
  width: 834px;
  height: 431px;
  left: 0px;
  top: 40px;
  border-radius: 5px;
} /*no consigo editar la caja de info-box*/

.btn {
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

input {
  width: 50%;
  height: 30px;
  margin: 0.5rem;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.nothidden {
  display: block;
}
